
/* https://simplecss.org/demo https://test.simplecss.org/ https://github.com/kevquirk/simple.css/wiki/Utility-elements-and-classes */
@import '../node_modules/simpledotcss/simple.css'; /* parcel will inline and minify this */

/* Plus a few tweaks to reduce some of the space (margins/padding/font), esp. for mobile */
body { grid-template-columns: 1fr min(80rem, 90%) 1fr }
body > header { padding-bottom: 0.5rem }
body > header > :only-child { margin-block-start: 1rem }
body > header h1 { margin: 0.5rem auto }
main {
  padding-top: 0;
  padding-bottom: 3rem; /* a bit of space for the "scroll to top" button */
}
h1 { font-size: 2.0rem }
h2 { font-size: 1.8rem }
h3 { font-size: 1.4rem }
@media only screen and (max-width: 720px) {  /* same condition as simple.css uses */
  :root { font-size: calc(100%/1.15) }
  body { grid-template-columns: 1fr 98% 1fr }
  body > header { padding-bottom: 0.3rem }
  body > header > :only-child { margin-block-start: 0.7rem }
  h1 { font-size: 1.6rem }
  h2 { font-size: 1.4rem }
  h3 { font-size: 1.2rem }
}
details ul, details ol {
  padding-left: 1.2rem;
}

/* borrow a a bit from Bootstrap */
:root {
  --bs-danger-bg-subtle: #f8d7da;
  --bs-danger-border-subtle: #f1aeb5;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-danger-border-subtle: #842029;
  }
}
.text-nowrap { white-space: nowrap; }
.d-none { display: none !important }

/* custom styles */
.notice.danger, input.danger {
  background-color: var(--bs-danger-bg-subtle);
  border-color: var(--bs-danger-border-subtle);
}
#search-term {
  width: 100%;
}
.btn-more {
  margin-left: 1rem;
}
#btn-scroll-top {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 99;
  background-color: var(--accent-bg);
  color: var(--text-light);
  opacity: 0.9;
}

/* custom classes for flag icons */
.flag-icon {
  display: inline-block;
  margin-right: 0.4rem;
  position: relative;
}
.flag-icon > div + div {
  position: absolute;
  top: 0;
  left: 0;
}
.flag-icon > div {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.flag-icon > div.flag-icon-inactive {
  opacity: 0;
}

/* custom classes for styling results */
.annotation {
  /* used for "{f}" and "[ornith.]" etc. */
  color: var(--text-light);
  /*font-weight: lighter;*/
}
.hidden {
  /* used for e.g. "referrer <referer>" (instead of .d-none, to differentiate) */
  display: none;
}

/* custom classes for results table */
#result-table {
  width: 100%;
  border: 1px solid var(--border);
}
#result-table th {
  text-align: center;
  white-space: nowrap;
}
#result-table td {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-top: 0;
  border-bottom: 0;
  vertical-align: text-top;
  width: 50%;
  font-size: 1rem;  /* Default would be 1.15rem from body */
}
#result-table tr {
  background-color: var(--bg);  /* override simple.css */
}
tbody.result {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
tbody.result:nth-child(even) td {
  background-color: var(--accent-bg);
}
tbody.result tr td {
  padding-top: 0;
  padding-bottom: 0;
}
tbody.result tr:first-child td {
  padding-top: 0.5rem;
}
tbody.result tr:last-child td {
  padding-bottom: 0.5rem;
}
tbody.result tr:not(:first-child) td {
  padding-left: 1.8rem;
}
#no-results td {
  text-align: center;
  font-style: italic;
  padding: 1rem 0.5rem;
  font-size: 1.15rem;
}

/* custom classes for feedback icon */
.feedback-thing {
  font-size: 0.8rem;
  float: right;
}
.feedback-thing a {
  text-decoration: none;
  opacity: 50%;
}
.feedback-thing a:hover {
  opacity: 100%;
}
@media only screen and (max-width: 720px) {
  /* hide on narrow screens */
  .feedback-thing {
    display: none;
  }
}

#sel-popup {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-bg);
  border: 1px solid var(--border);
  padding: 0.5rem;
  font-size: 0.9rem;
}
#sel-popup > a {
  display: block;
  text-decoration: none;
  width: max-content;
}
#popup-close {
  float: right;
  margin-left: 1rem;
  cursor: pointer;
}